option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "scriba.settings.production"
        "PYTHONPATH": "/opt/python/current/app/scriba:$PYTHONPATH"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: scriba/wsgi.py
        NumProcesses: 3
        NumThreads: 20
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "www/static/"
