container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_stanford_parser:
    command: "python scripts/stanford_parser.py"
  04_spacy:
    command: "python -m spacy download en"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: scriba.settings.production
  aws:elasticbeanstalk:container:python:
    WSGIPath: scriba/wsgi.py
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    git: []
    gcc-c++: []
    postgresql95-devel: []
    java-1.8.0-openjdk-devel: []
    java-1.8.0-openjdk: []
