container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: scriba.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: scriba/wsgi.py
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    git: []
    gcc-c++: []
    postgresql95-devel: []
