{% load cache %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% cache None head %}
    {% include "includes/head.html" %}

    {% block head %}{% endblock %}
    {% endcache %}
</head>

<body>
    <div>
        {% block toplevel %}{% endblock %}

        <div id="content" class="w-full max-w-lg mx-auto my-4 rounded border border-blue-dark">
            <div class="bg-blue-dark text-blue-lightest rounded-t p-3">
                <h1 id="title" class="text-xl font-light">{% block title %}{% endblock %}</h1>
            </div>

            <div id="inner-content">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% cache None footer %}
        {% include "includes/footer.html" %}
        {% endcache %}
    </div>

    {% block foot %}{% endblock %}
</body>

</html>
