{% with box_class="my-3 px-3 py-2 border border-orange-lighter bg-orange-lightest" %}
{% with box_title_class="mb-2 text-sm uppercase tracking-wide text-orange-dark" %}
{% with box_content_class="text-sm text-orange-darker" %}

<div class="bg-white text-grey-darker px-8 pt-6 pb-8 leading-normal">
    <div class="mb-4">
        <div class="mb-8 p-4 bg-grey-lightest border">
            <h2 class="mb-2 text-base font-bold">Your submission</h2>
            <p>
                {{ text }}
            </p>
        </div>

        {% if plagiarism_status != None or semantics_status != None %}
        <div class="mb-6">
            <h2 class="flex items-center mb-2 text-base font-bold">
                {% if paraphrase_status == '11' or paraphrase_status == 'N1' or paraphrase_status == '1N' %}
                <svg class="fill-current text-green inline-block h-6 w-6" viewBox="0 0 20 20">
                    <path d="M10.219,1.688c-4.471,0-8.094,3.623-8.094,8.094s3.623,8.094,8.094,8.094s8.094-3.623,8.094-8.094S14.689,1.688,10.219,1.688 M10.219,17.022c-3.994,0-7.242-3.247-7.242-7.241c0-3.994,3.248-7.242,7.242-7.242c3.994,0,7.241,3.248,7.241,7.242C17.46,13.775,14.213,17.022,10.219,17.022 M15.099,7.03c-0.167-0.167-0.438-0.167-0.604,0.002L9.062,12.48l-2.269-2.277c-0.166-0.167-0.437-0.167-0.603,0c-0.166,0.166-0.168,0.437-0.002,0.603l2.573,2.578c0.079,0.08,0.188,0.125,0.3,0.125s0.222-0.045,0.303-0.125l5.736-5.751C15.268,7.466,15.265,7.196,15.099,7.03"></path>
                </svg>
                {% else %}
                <svg class="fill-current text-orange inline-block h-6 w-6" viewBox="0 0 20 20">
                    <path d="M18.344,16.174l-7.98-12.856c-0.172-0.288-0.586-0.288-0.758,0L1.627,16.217c0.339-0.543-0.603,0.668,0.384,0.682h15.991C18.893,16.891,18.167,15.961,18.344,16.174 M2.789,16.008l7.196-11.6l7.224,11.6H2.789z M10.455,7.552v3.561c0,0.244-0.199,0.445-0.443,0.445s-0.443-0.201-0.443-0.445V7.552c0-0.245,0.199-0.445,0.443-0.445S10.455,7.307,10.455,7.552M10.012,12.439c-0.733,0-1.33,0.6-1.33,1.336s0.597,1.336,1.33,1.336c0.734,0,1.33-0.6,1.33-1.336S10.746,12.439,10.012,12.439M10.012,14.221c-0.244,0-0.443-0.199-0.443-0.445c0-0.244,0.199-0.445,0.443-0.445s0.443,0.201,0.443,0.445C10.455,14.021,10.256,14.221,10.012,14.221"></path>
                </svg>
                {% endif %}

                <span class="ml-3 {% if paraphrase_status == '11' or paraphrase_status == 'N1' or paraphrase_status == '1N' %}text-green{% else %}text-orange{% endif %}">
                    Paraphrase
                </span>
            </h2>

            {% if plagiarism_status == False %}
                {% include "includes/feedback-snippets/plagiarism-check-warning.html" %}
            {% endif %}

            {% if semantics_status == False %}
                {% include "includes/feedback-snippets/semantics-check-warning.html" %}
            {% endif %}
        </div>
        {% endif %}

        {% if grammar_check is not None %}
        <div class="mb-6">
            <h2 class="flex items-center mb-2 text-base font-bold">
                {% if grammar_status %}
                <svg class="fill-current text-green inline-block h-6 w-6" viewBox="0 0 20 20">
                    <path d="M10.219,1.688c-4.471,0-8.094,3.623-8.094,8.094s3.623,8.094,8.094,8.094s8.094-3.623,8.094-8.094S14.689,1.688,10.219,1.688 M10.219,17.022c-3.994,0-7.242-3.247-7.242-7.241c0-3.994,3.248-7.242,7.242-7.242c3.994,0,7.241,3.248,7.241,7.242C17.46,13.775,14.213,17.022,10.219,17.022 M15.099,7.03c-0.167-0.167-0.438-0.167-0.604,0.002L9.062,12.48l-2.269-2.277c-0.166-0.167-0.437-0.167-0.603,0c-0.166,0.166-0.168,0.437-0.002,0.603l2.573,2.578c0.079,0.08,0.188,0.125,0.3,0.125s0.222-0.045,0.303-0.125l5.736-5.751C15.268,7.466,15.265,7.196,15.099,7.03"></path>
                </svg>
                {% else %}
                <svg class="fill-current text-orange inline-block h-6 w-6" viewBox="0 0 20 20">
                    <path d="M18.344,16.174l-7.98-12.856c-0.172-0.288-0.586-0.288-0.758,0L1.627,16.217c0.339-0.543-0.603,0.668,0.384,0.682h15.991C18.893,16.891,18.167,15.961,18.344,16.174 M2.789,16.008l7.196-11.6l7.224,11.6H2.789z M10.455,7.552v3.561c0,0.244-0.199,0.445-0.443,0.445s-0.443-0.201-0.443-0.445V7.552c0-0.245,0.199-0.445,0.443-0.445S10.455,7.307,10.455,7.552M10.012,12.439c-0.733,0-1.33,0.6-1.33,1.336s0.597,1.336,1.33,1.336c0.734,0,1.33-0.6,1.33-1.336S10.746,12.439,10.012,12.439M10.012,14.221c-0.244,0-0.443-0.199-0.443-0.445c0-0.244,0.199-0.445,0.443-0.445s0.443,0.201,0.443,0.445C10.455,14.021,10.256,14.221,10.012,14.221"></path>
                </svg>
                {% endif %}

                <span class="ml-3 {% if grammar_status %}text-green{% else %}text-orange{% endif %}">
                    Grammar
                </span>
            </h2>

            {% if grammar_check.languagetool_check|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    General mistakes
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/general-mistakes-warning.html" %}
                </div>
            </div>

            {% endif %}

            {% if grammar_check.sentence_fragments|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    Sentence fragments
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/sentence-fragments-warning.html" %}
                </div>
            </div>
            {% endif %}

            {% if grammar_check.comma_splices|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    Comma splices
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/comma-splices-warning.html" %}
                </div>
            </div>
            {% endif %}

            {% if grammar_check.noun_verb_disagreements|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    Subject-verb disagreements
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/subject-verb-disagreements-warning.html" %}
                </div>
            </div>
            {% endif %}

            {% if grammar_check.auxiliary_do_negated_mistakes|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    Auxiliary verb "do not" mistakes
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/auxiliary-do-negated-mistakes-warning.html" %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if citation_check is not None %}
        <div class="mb-6">
            <h2 class="flex items-center mb-2 text-base font-bold">
                {% if citation_status %}
                <svg class="fill-current text-green inline-block h-6 w-6" viewBox="0 0 20 20">
                    <path d="M10.219,1.688c-4.471,0-8.094,3.623-8.094,8.094s3.623,8.094,8.094,8.094s8.094-3.623,8.094-8.094S14.689,1.688,10.219,1.688 M10.219,17.022c-3.994,0-7.242-3.247-7.242-7.241c0-3.994,3.248-7.242,7.242-7.242c3.994,0,7.241,3.248,7.241,7.242C17.46,13.775,14.213,17.022,10.219,17.022 M15.099,7.03c-0.167-0.167-0.438-0.167-0.604,0.002L9.062,12.48l-2.269-2.277c-0.166-0.167-0.437-0.167-0.603,0c-0.166,0.166-0.168,0.437-0.002,0.603l2.573,2.578c0.079,0.08,0.188,0.125,0.3,0.125s0.222-0.045,0.303-0.125l5.736-5.751C15.268,7.466,15.265,7.196,15.099,7.03"></path>
                </svg>
                {% else %}
                <svg class="fill-current text-orange inline-block h-6 w-6" viewBox="0 0 20 20">
                    <path d="M18.344,16.174l-7.98-12.856c-0.172-0.288-0.586-0.288-0.758,0L1.627,16.217c0.339-0.543-0.603,0.668,0.384,0.682h15.991C18.893,16.891,18.167,15.961,18.344,16.174 M2.789,16.008l7.196-11.6l7.224,11.6H2.789z M10.455,7.552v3.561c0,0.244-0.199,0.445-0.443,0.445s-0.443-0.201-0.443-0.445V7.552c0-0.245,0.199-0.445,0.443-0.445S10.455,7.307,10.455,7.552M10.012,12.439c-0.733,0-1.33,0.6-1.33,1.336s0.597,1.336,1.33,1.336c0.734,0,1.33-0.6,1.33-1.336S10.746,12.439,10.012,12.439M10.012,14.221c-0.244,0-0.443-0.199-0.443-0.445c0-0.244,0.199-0.445,0.443-0.445s0.443,0.201,0.443,0.445C10.455,14.021,10.256,14.221,10.012,14.221"></path>
                </svg>
                {% endif %}

                <span class="ml-3 {% if citation_status %}text-green{% else %}text-orange{% endif %}">
                    Citation
                </span>
            </h2>

            {% if not citation_status %}
            {% include "includes/feedback-snippets/citation-warning.html" %}
            {% endif %}

            {% if citation_check.citation_after_full_stop %}
            <p>Your citation is correct but it is located after the full stop.</p>
            {% endif %}
        </div>
        {% endif %}

        {% if academic_style_check is not None %}
        <div class="mb-6">
            <h2 class="flex items-center mb-2 text-base font-bold">
                {% if academic_style_status %}
                <svg class="fill-current text-green inline-block h-6 w-6" viewBox="0 0 20 20">
                    <path d="M10.219,1.688c-4.471,0-8.094,3.623-8.094,8.094s3.623,8.094,8.094,8.094s8.094-3.623,8.094-8.094S14.689,1.688,10.219,1.688 M10.219,17.022c-3.994,0-7.242-3.247-7.242-7.241c0-3.994,3.248-7.242,7.242-7.242c3.994,0,7.241,3.248,7.241,7.242C17.46,13.775,14.213,17.022,10.219,17.022 M15.099,7.03c-0.167-0.167-0.438-0.167-0.604,0.002L9.062,12.48l-2.269-2.277c-0.166-0.167-0.437-0.167-0.603,0c-0.166,0.166-0.168,0.437-0.002,0.603l2.573,2.578c0.079,0.08,0.188,0.125,0.3,0.125s0.222-0.045,0.303-0.125l5.736-5.751C15.268,7.466,15.265,7.196,15.099,7.03"></path>
                </svg>
                {% else %}
                <svg class="fill-current text-orange inline-block h-6 w-6" viewBox="0 0 20 20">
                    <path d="M18.344,16.174l-7.98-12.856c-0.172-0.288-0.586-0.288-0.758,0L1.627,16.217c0.339-0.543-0.603,0.668,0.384,0.682h15.991C18.893,16.891,18.167,15.961,18.344,16.174 M2.789,16.008l7.196-11.6l7.224,11.6H2.789z M10.455,7.552v3.561c0,0.244-0.199,0.445-0.443,0.445s-0.443-0.201-0.443-0.445V7.552c0-0.245,0.199-0.445,0.443-0.445S10.455,7.307,10.455,7.552M10.012,12.439c-0.733,0-1.33,0.6-1.33,1.336s0.597,1.336,1.33,1.336c0.734,0,1.33-0.6,1.33-1.336S10.746,12.439,10.012,12.439M10.012,14.221c-0.244,0-0.443-0.199-0.443-0.445c0-0.244,0.199-0.445,0.443-0.445s0.443,0.201,0.443,0.445C10.455,14.021,10.256,14.221,10.012,14.221"></path>
                </svg>
                {% endif %}

                <span class="ml-3 {% if academic_style_status %}text-green{% else %}text-orange{% endif %}">
                    Style
                </span>
            </h2>

            {% if academic_style_check.contractions|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    Contraction/short forms
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/contractions-warning.html" %}
                </div>
            </div>
            {% endif %}

            {% if academic_style_check.phrasal_verbs|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    Phrasal verbs
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/phrasal-verbs-warning.html" %}
                </div>
            </div>
            {% endif %}

            {% if academic_style_check.quotation_overuses|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    Quotation overuse
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/quotation-overuses-warning.html" %}
                </div>
            </div>
            {% endif %}

            {% if academic_style_check.personal_nouns|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    Personal nouns
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/personal-nouns-warning.html" %}
                </div>
            </div>
            {% endif %}

            {% if academic_style_check.general_informalities|length > 0 %}
            <div class="{{ box_class }}">
                <h3 class="{{ box_title_class }}">
                    Informal words
                </h3>

                <div class="{{ box_content_class }}">
                    {% include "includes/feedback-snippets/general-informalities-warning.html" %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if assignment.model_answers %}
        <div class="mb-6 p-4 text-green-darker bg-green-lightest border border-green">
            <h2 class="mb-2 text-base font-bold">
                Model answers
            </h2>

            <p>
                {{ assignment.model_answers }}
            </p>
        </div>
        {% endif %}
    </div>

    <div class="mb-4">
        <a href="/assignments/" class="no-underline bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">
            Retry
        </a>
    </div>
</div>

{% endwith %}
{% endwith %}
{% endwith %}
