<p>The following phrasal verbs have been found:</p>

<ul>
{% for verb in academic_style_check.phrasal_verbs  %}
    <li>{{ verb }}</li>
{% endfor %}
</ul>

<p>A <strong>phrasal verb</strong> is a verb that is made up of a main verb together with an adverb or a preposition, or both.</p>
<p><strong>Examples</strong>:</p>
<ul>
    <li>He has always <strong>looked down</strong> on me.</li>
    <li>The report <strong>spelled out</strong> the need for more staff.</li>
    <li>She <strong>filled up</strong> the grocery cart with vegetables.</li>
</ul>

<p>It is considered informal to use a lot of phrasal verbs in a text.</p>
